/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  margin:0 auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.wrapper{
    width: 100%;
    margin: 0 auto;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 10px;
}
.header{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header:before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f9ffff;
    z-index: 2;
}
.header__list{
    display: flex;
    position: relative;
    z-index: 2;
}
.header__list li {
    list-style: none;
    margin: 0px 0px 0px 20px;
}
.header__link{
    font-family: "Roboto";
    color: #121212;
    font-size: 14px;
    text-decoration: none;
    margin: 0px 0px 0px 80px;
}
.header__body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header__logo{
    font-family: "Exo 2";
    color: #121212;
    text-decoration: none;
    flex: 0 0 60px;
    border-radius: 50%;
    position: relative;
    z-index: 3;
    font-size: 35px;
}
.header__burger{
    display: none;
}
@media (max-width: 767px){
    body.lock{
        overflow: hidden;
    }
    .header__body{
        height: 50px;
    }
    .header__logo{
        flex: 0 0 40px;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger span{
        position: absolute;
        background-color: #121212;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }
    .header__burger:before,
    .header__burger:after{
        content: '';
        background-color: #121212;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__burger.active:before{
        transform:rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:#f9ffff;
        padding: 70px 10px 20px 10px;
    }
    .header__menu.active{
        top: 0;
    }
    .header__list{
        display: block;
    }
    .header__list li{
        margin: 0px 0px 20px 0px;
    }
}
.Content{
    padding: 192px 0px 0px 0px ;
    width: 100%;
    background-color: #ffffff;
}
.Content_text{
margin-left: 480px;
color: #121212;
font-family: "Exo 2";
font-weight: normal;
font-size: 40px;
}
.Content_text_down{
    margin-top: 40px;
    margin-left: 480px;
    color: #121212;
    font-family: "Exo 2";
    font-size: 20px;
}
.Content_btn{
    margin-top: 50px;
    margin-left: 480px;
    font-family: "Roboto";
    font-size: 14px;
    text-align: center;
    background: rgba(196, 196, 196, 0.12);
}
.Content_btn {
    display: inline-block;
    color: #121212; 
    text-decoration: none;
    padding: .9em 2.5em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #F6C619 #000 #F6C619;
    border-radius: 25px;
    background: linear-gradient(#F6C619, #F6C619) #F6C619;
    transition: 0.2s;
  } 
  .Content_btn:hover { background: linear-gradient(#f5ae00, #ffff00) #F6C619; }
  .Content_btn:active { background: linear-gradient(#f59500, #f5ae00) #F6C619; }
.content__text p{
    margin: 0px 0px 20px;
}
.Content_icons{
    margin-top: 200px;
    margin-left: 480px;
}
.facebook{
    margin-left: 50px;
}
.viber{
    margin-left: 50px;
}
.Content_photo{
    width: 432px;
    height: 585px;
    margin-left: 1110px;
    margin-top: -1000px;
}
@media(max-width:1400px){
    .Content{
        padding: 192px 0px 0px 0px ;
        width: 100%;
        background-color: #ffffff;
    }
    .Content_text{
    margin-left: 180px;
    color: #121212;
    font-family: "Exo 2";
    font-weight: normal;
    font-size: 40px;
    }
    .Content_text_down{
        margin-top: 40px;
        margin-left: 180px;
        color: #121212;
        font-family: "Exo 2";
        font-size: 20px;
    }
    .Content_btn{
        margin-top: 50px;
        margin-left: 180px;
        font-family: "Roboto";
        font-size: 14px;
        text-align: center;
        background: rgba(196, 196, 196, 0.12);
    }
    .Content_btn {
        display: inline-block;
        color: #121212; 
        text-decoration: none;
        padding: .9em 2.5em;
        outline: none;
        border-width: 2px 0;
        border-style: solid none;
        border-color: #F6C619 #000 #F6C619;
        border-radius: 25px;
        background: linear-gradient(#F6C619, #F6C619) #F6C619;
        transition: 0.2s;
      } 
      .Content_btn:hover { background: linear-gradient(#f5ae00, #ffff00) #F6C619; }
      .Content_btn:active { background: linear-gradient(#f59500, #f5ae00) #F6C619; }
    .content__text p{
        margin: 0px 0px 20px;
    }
    .Content_icons{
        margin-top: 200px;
        margin-left: 180px;
    }
    .facebook{
        margin-left: 50px;
    }
    .viber{
        margin-left: 50px;
    }
    .Content_photo{
        width: 432px;
        height: 585px;
        margin-left: 910px;
        margin-top: -1000px;
    }
}
@media(max-width:767px){
    .content{
        padding: 70px 0px 0px 0px;
    }
    .Content_photo{
        width: 216px;
        height: 292px;
        margin-left: 180px;
        margin-top: 100px;
    }
}
.Popular{
    position: relative;
    padding: 200px 0px 0px 0px;
    height: 580px;
    width: 100%;
    background-color: #ffffff;
}
.Popular_text{
    text-align: center;
    font-family: "Exo 2";
    font-size: 32px;
}
.Popular_products{
    margin-top: 100px;
    margin-left: 480px;
}
.stol{
    margin-left: 70px;
}
.kreslo{
    margin-left: 70px;
}
.styl{
    margin-left: 70px;
}
.Popular_titles{
    font-family: "Roboto";
    font-size: 18px;
}
.Popular_armchair{
    margin-top: 70px;
    display: inline-block;
    margin-left: 460px;
}
.Popular_table{
    display: inline-block;
    margin-left: 70px;
}
.Popular_armchair_2{
    display: inline-block;
    margin-left: 120px;
}
.Popular_chair{
    display: inline-block;
    margin-left: 120px;
}
.Popular_categoryi{
    color: rgba(0, 0, 0, 0.53);
    font-family: "Roboto";
    font-size: 16px;
}
.Popular_gamechair{
    display: inline-block;
    margin-top: 10px;
    margin-left: 510px;
}
.Popular_dinnertable{
    display: inline-block;
    margin-top: 10px;
    margin-left: 170px;
}
.Popular_rockingchair{
    display: inline-block;
    margin-top: 10px;
    margin-left: 165px;
}
.Popular_barchair{
    display: inline-block;
    margin-top: 10px;
    margin-left: 165px;
}
.Popular_price{
    color: rgba(0, 0, 0, 0.76);
    font-family: "Roboto";
    font-size: 18px;
}
.Popular_price1{
    display: inline-block;
    margin-top: 10px;
    margin-left: 540px;
}
.Popular_price2{
    display: inline-block;
    margin-top: 10px;
    margin-left: 240px;
}
.Popular_price3{
    display: inline-block;
    margin-top: 10px;
    margin-left: 240px;
}
.Popular_price4{
    display: inline-block;
    margin-top: 10px;
    margin-left: 240px;
}
@media(max-width:1400px){
    .Popular{
        padding: 200px 0px 0px 0px;
        height: 580px;
        width: 100%;
        background-color: #ffffff;
    }
    .Popular_text{
        text-align: center;
        font-family: "Exo 2";
        font-size: 32px;
    }
    .Popular_products{
        margin-top: 100px;
        margin-left: 180px;
    }
    .stol{
        margin-left: 70px;
    }
    .kreslo{
        margin-left: 70px;
    }
    .styl{
        margin-left: 70px;
    }
    .Popular_titles{
        font-family: "Roboto";
        font-size: 18px;
    }
    .Popular_armchair{
        margin-top: 70px;
        display: inline-block;
        margin-left: 160px;
    }
    .Popular_table{
        display: inline-block;
        margin-left: 70px;
    }
    .Popular_armchair_2{
        display: inline-block;
        margin-left: 120px;
    }
    .Popular_chair{
        display: inline-block;
        margin-left: 120px;
    }
    .Popular_categoryi{
        color: rgba(0, 0, 0, 0.53);
        font-family: "Roboto";
        font-size: 16px;
    }
    .Popular_gamechair{
        display: inline-block;
        margin-top: 10px;
        margin-left: 210px;
    }
    .Popular_dinnertable{
        display: inline-block;
        margin-top: 10px;
        margin-left: 170px;
    }
    .Popular_rockingchair{
        display: inline-block;
        margin-top: 10px;
        margin-left: 165px;
    }
    .Popular_barchair{
        display: inline-block;
        margin-top: 10px;
        margin-left: 165px;
    }
    .Popular_price{
        color: rgba(0, 0, 0, 0.76);
        font-family: "Roboto";
        font-size: 18px;
    }
    .Popular_price1{
        display: inline-block;
        margin-top: 10px;
        margin-left: 240px;
    }
    .Popular_price2{
        display: inline-block;
        margin-top: 10px;
        margin-left: 240px;
    }
    .Popular_price3{
        display: inline-block;
        margin-top: 10px;
        margin-left: 240px;
    }
    .Popular_price4{
        display: inline-block;
        margin-top: 10px;
        margin-left: 240px;
    }
}
@media(max-width:767px){
    .Popular{
        padding: 90px 0px 0px 0px;
    }

}
.Category{
    position: relative;
    padding: 103px 0px 0px 0px;
    height: 560px;
    width: 100%;
    background-color: #ffffff;
}
.Category_text{
    text-align: center;
    font-family: "Exo 2";
    font-size: 32px;
}
.Category_photo{
    display: inline-block;
    margin-top: 162px;
}
.Category_livingroom{
    display: inline-block;
    margin-left: 310px;
}
.Category_kitchen{
    display: inline-block;
    margin-left: 21px;
}
.Category_photo_bedroom{
    margin-top: -305px;
    margin-left: 1250px;
}
.Category_livingroom_text{
    margin-left: 310px;
    font-family: "Roboto";
    font-size: 18px;
    display: inline-block;
}
.Category_kitchen_text{
    margin-left: 315px;
    font-family: "Roboto";
    font-size: 18px;
    display: inline-block;
}
.Category_bedroom_text{
    margin-left: 290px;
    font-family: "Roboto";
    font-size: 18px;
    display: inline-block;
}
@media(max-width:1400px){
.Category{
    position: relative;
    padding: 103px 0px 0px 0px;
    height: 560px;
    width: 100%;
    background-color: #ffffff;
}
.Category_text{
    text-align: center;
    font-family: "Exo 2";
    font-size: 32px;
}
.Category_photo{
    display: inline-block;
    margin-top: 162px;
}
.Category_livingroom{
    display: inline-block;
    margin-left: 10px;
}
.Category_kitchen{
    display: inline-block;
    margin-left: 21px;
}
.Category_photo_bedroom{
    margin-top: -305px;
    margin-left: 920px;
}
.Category_livingroom_text{
    margin-left: 10px;
    font-family: "Roboto";
    font-size: 18px;
    display: inline-block;
}
.Category_kitchen_text{
    margin-left: 315px;
    font-family: "Roboto";
    font-size: 18px;
    display: inline-block;
}
.Category_bedroom_text{
    margin-left: 260px;
    font-family: "Roboto";
    font-size: 18px;
    display: inline-block;
}
}
.About{
    position: relative;
    padding: 136px 0px 0px 0px;
    width: 100%;
    height: 426px;
    margin: 0 auto;
    background-color: #ffffff;
}
.About_text{
    text-align: center;
    font-family: "Exo 2";
    font-size: 32px;
}
.About_icons{
    margin-left: 350px;
    display: inline-block;
    margin-top: 185px;
}
.About_delivery{
    display: inline-block;
    margin-left: 180px;
}
.About_doubltick{
    margin-left: 210px;
}
.About_worker{
    margin-left: 220px;
}
.About_skill{
    margin-left: 245px;
}
.About_icons_text{
    margin-left: 350px;
    margin-top: 15px;
    font-family: "Roboto";
    font-size: 18px;
}
.About_delivery_text{
    display: inline-block;
    margin-left: 180px;
}
.About_doubltick_text{
    display: inline-block;
    margin-left: 210px;
}
.About_worker_text{
    display: inline-block;
    margin-left: 180px;
}
.About_skill_text{
    display: inline-block;
    margin-left: 170px;
}
.About_advantage_text{
    margin-left: 350px;
    margin-top: 7px;
    font-family: "Roboto";
    font-size: 16px;
    color: rgba(0, 0, 0, 0.71);
}
.About_advantage_delivery{
    display: inline-block;
    margin-left: 140px;
}
.About_advantage_doubltick{
    display: inline-block;
    margin-left: 160px;
}
.About_advantage_worker{
    display: inline-block;
    margin-left: 160px;
}
.About_advantage_skill{
    display: inline-block;
    margin-left: 140px;
}
.About_icons2{
    margin-left: 350px;
    margin-top: 70px;
}
.About_hand{
    display: inline-block;
    margin-left: 180px;
}
.About_key{
    margin-left: 240px;
}
.About_hand_2{
    margin-left: 250px;
}
.About_sale{
    margin-left: 260px;
}
.About_icons_text2{
    margin-left: 350px;
    margin-top: 15px;
    font-family: "Roboto";
    font-size: 18px;
}
.About_hand_text{
    display: inline-block;
    margin-left: 150px;
}
.About_key_text{
    display: inline-block;
    margin-left: 190px;
}
.About_hand_2_text{
    display: inline-block;
    margin-left: 210px;
}
.About_sale_text{
    display: inline-block;
    margin-left: 220px;
}
.About_advantage_text2{
    margin-left: 350px;
    margin-top: 7px;
    font-family: "Roboto";
    font-size: 16px;
    color: rgba(0, 0, 0, 0.71);
}
.About_advantage_hand{
    display: inline-block;
    margin-left: 110px;
}
.About_advantage_key{
    display: inline-block;
    margin-left: 100px;
}
.About_advantage_hand_2{
    display: inline-block;
    margin-left: 120px;
}
.About_advantage_sale{
    display: inline-block;
    margin-left: 100px;
}
@media(max-width:1400px){
    .About{
        position: relative;
        padding: 136px 0px 0px 0px;
        width: 100%;
        height: 426px;
        background-color: #ffffff;
    }
    .About_text{
        text-align: center;
        font-family: "Exo 2";
        font-size: 32px;
    }
    .About_icons{
        margin-left: -20px;
        display: inline-block;
        margin-top: 85px;
    }
    .About_delivery{
        display: inline-block;
        margin-left: 180px;
    }
    .About_doubltick{
        margin-left: 210px;
    }
    .About_worker{
        margin-left: 220px;
    }
    .About_skill{
        margin-left: 245px;
    }
    .About_icons_text{
        margin-left: -20px;
        margin-top: 15px;
        font-family: "Roboto";
        font-size: 18px;
    }
    .About_delivery_text{
        display: inline-block;
        margin-left: 180px;
    }
    .About_doubltick_text{
        display: inline-block;
        margin-left: 210px;
    }
    .About_worker_text{
        display: inline-block;
        margin-left: 180px;
    }
    .About_skill_text{
        display: inline-block;
        margin-left: 170px;
    }
    .About_advantage_text{
        margin-left: -20px;
        margin-top: 7px;
        font-family: "Roboto";
        font-size: 16px;
        color: rgba(0, 0, 0, 0.71);
    }
    .About_advantage_delivery{
        display: inline-block;
        margin-left: 140px;
    }
    .About_advantage_doubltick{
        display: inline-block;
        margin-left: 160px;
    }
    .About_advantage_worker{
        display: inline-block;
        margin-left: 160px;
    }
    .About_advantage_skill{
        display: inline-block;
        margin-left: 140px;
    }
    .About_icons2{
        margin-left: -20px;
        margin-top: 70px;
    }
    .About_hand{
        display: inline-block;
        margin-left: 180px;
    }
    .About_key{
        margin-left: 240px;
    }
    .About_hand_2{
        margin-left: 250px;
    }
    .About_sale{
        margin-left: 260px;
    }
    .About_icons_text2{
        margin-left: -20px;
        margin-top: 15px;
        font-family: "Roboto";
        font-size: 18px;
    }
    .About_hand_text{
        display: inline-block;
        margin-left: 150px;
    }
    .About_key_text{
        display: inline-block;
        margin-left: 190px;
    }
    .About_hand_2_text{
        display: inline-block;
        margin-left: 210px;
    }
    .About_sale_text{
        display: inline-block;
        margin-left: 220px;
    }
    .About_advantage_text2{
        margin-left: -20px;
        margin-top: 7px;
        font-family: "Roboto";
        font-size: 16px;
        color: rgba(0, 0, 0, 0.71);
    }
    .About_advantage_hand{
        display: inline-block;
        margin-left: 110px;
    }
    .About_advantage_key{
        display: inline-block;
        margin-left: 100px;
    }
    .About_advantage_hand_2{
        display: inline-block;
        margin-left: 120px;
    }
    .About_advantage_sale{
        display: inline-block;
        margin-left: 100px;
    }
}
.Contacts{
    background-color: #ffffff;
    padding: 103px 0px 0px 0px;
    height: 720px;
    width: 100%;
}
.Contacts_text{
    margin-top: 100px;
    text-align: center;
    font-family: "Exo 2";
    font-size: 32px;
}
.Contacts_map{
    display: inline-block;
    margin-top: 85px;
    width: 542px;
    height: 346px;
    margin-left: 460px;
}
.Contacts_registr{
    margin-top: -330px;
    margin-left: 1200px;
    font-family: "Exo 2";
    font-size: 26px;
}
.Contacts_registr_reqist{
    margin-left: 1150px;
    margin-top: 35px;
}
.Contacts_registr_name_text{
    color: rgba(0, 0, 0, 0.35);
    font-family: "Roboto";
    padding: 20px 5px 19px 20px;
    display: inline-block;
    width: 275px;
    position: relative;
    margin:  auto;
    border-radius: 32px;
    border-color: #ffffff;
}
.Contacts_registr_phone_text{
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.35);
    font-family: "Roboto";
    padding: 20px 5px 19px 20px;
    display: inline-block;
    width: 275px;
    position: relative;
    margin:  auto;
    border-radius: 32px;
    border-color: #ffffff;
}
.Contacts_registr_comment_text{
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.35);
    font-family: "Roboto";
    padding: 20px 5px 100px 20px;
    display: inline-block;
    width: 275px;
    position: relative;
    margin:  auto;
    border-radius: 32px;
    border-color: #ffffff;
}
.Contacts_btn{
    margin-top: 50px;
    margin-left: 60px;
    font-family: "Roboto";
    font-size: 14px;
    text-align: center;
    background: rgba(196, 196, 196, 0.12);
}
.Contacts_btn {
    display: inline-block;
    color: #121212; 
    text-decoration: none;
    padding: 1em 3.5em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #F6C619 #000 #F6C619;
    border-radius: 25px;
    background: linear-gradient(#F6C619, #F6C619) #F6C619;
    transition: 0.2s;
 } 
.Conacts_btn:hover { background: linear-gradient(#f5ae00, #ffff00) #F6C619; }
.Contacts_btn:active { background: linear-gradient(#f59500, #f5ae00) #F6C619; }
.Contacts_info{
    margin-top: 70px;
    font-family: "Roboto";
    font-size: 18px;
    display: inline-block;
}
.Contacts_adress{
    margin-left: 460px;
    display: inline-block;
}
.Contacts_email{
    margin-left: 250px;
    display: inline-block;
}
.Contacts_phone{
    margin-left: 250px;
    display: inline-block;
}
@media(max-width:1400px){
    .Contacts{
        background-color: #ffffff;
        padding: 103px 0px 0px 0px;
        height: 720px;
        width: 100%;
    }
    .Contacts_text{
        text-align: center;
        font-family: "Exo 2";
        font-size: 32px;
    }
    .Contacts_map{
        display: inline-block;
        margin-top: 85px;
        width: 542px;
        height: 346px;
        margin-left: 160px;
    }
    .Contacts_registr{
        margin-top: -330px;
        margin-left: 800px;
        font-family: "Exo 2";
        font-size: 26px;
    }
    .Contacts_registr_reqist{
        margin-left: 750px;
        margin-top: 35px;
    }
    .Contacts_registr_name_text{
        color: rgba(0, 0, 0, 0.35);
        font-family: "Roboto";
        padding: 20px 5px 19px 20px;
        display: inline-block;
        width: 275px;
        position: relative;
        margin:  auto;
        border-radius: 32px;
        border-color: #ffffff;
    }
    .Contacts_registr_phone_text{
        margin-top: 20px;
        color: rgba(0, 0, 0, 0.35);
        font-family: "Roboto";
        padding: 20px 5px 19px 20px;
        display: inline-block;
        width: 275px;
        position: relative;
        margin:  auto;
        border-radius: 32px;
        border-color: #ffffff;
    }
    .Contacts_registr_comment_text{
        margin-top: 20px;
        color: rgba(0, 0, 0, 0.35);
        font-family: "Roboto";
        padding: 20px 5px 100px 20px;
        display: inline-block;
        width: 275px;
        position: relative;
        margin:  auto;
        border-radius: 32px;
        border-color: #ffffff;
    }
    .Contacts_btn{
        margin-top: 50px;
        margin-left: 60px;
        font-family: "Roboto";
        font-size: 14px;
        text-align: center;
        background: rgba(196, 196, 196, 0.12);
    }
    .Contacts_btn {
        display: inline-block;
        color: #121212; 
        text-decoration: none;
        padding: 1em 3.5em;
        outline: none;
        border-width: 2px 0;
        border-style: solid none;
        border-color: #F6C619 #000 #F6C619;
        border-radius: 25px;
        background: linear-gradient(#F6C619, #F6C619) #F6C619;
        transition: 0.2s;
     } 
    .Conacts_btn:hover { background: linear-gradient(#f5ae00, #ffff00) #F6C619; }
    .Contacts_btn:active { background: linear-gradient(#f59500, #f5ae00) #F6C619; }
    .Contacts_info{
        margin-top: 70px;
        font-family: "Roboto";
        font-size: 18px;
        display: inline-block;
    }
    .Contacts_adress{
        margin-left: 160px;
        display: inline-block;
    }
    .Contacts_email{
        margin-left: 150px;
        display: inline-block;
    }
    .Contacts_phone{
        margin-left: 200px;
        display: inline-block;
    }
}
.Footer{
    background-color: #ffffff;
    padding: 120px 0px 0px 0px;
    height: 262px;
    width: 100%;
}
.Footer__logo{
    font-family: "Exo 2";
    color: #121212;
    text-decoration: none;
    position: relative;
    font-size: 35px;
}
.Logo{
    margin-top: 218px;
    margin-left: 460px;
}
.Footer__list{
    margin-top: -25px;
    margin-left: 480px;
    display: inline-block;
    display: flex;
    position: relative;
}
.Footer__list li {
    list-style: none;
    margin: 0px 0px 0px 20px;
}
.Footer__link{
    font-family: "Roboto";
    color: #121212;
    font-size: 14px;
    text-decoration: none;
    margin: 0px 0px 0px 80px;
}
.Footer_icons{
    margin-left: 1400px;
    margin-top: -20px;
}
.Footer_icons_inst{
    margin-left: 20px;
}
.Footer_icons_facebook{
    margin-left: 30px;
}
.Footer_icons_viber{
    margin-left: 30px;
}
.Footer_copyright{
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    color: #949494;
}
@media(max-width:1400px){
    .Footer{
        background-color: #ffffff;
        padding: 120px 0px 0px 0px;
        height: 262px;
        width: 100%;
    }
    .Footer__logo{
        font-family: "Exo 2";
        color: #121212;
        text-decoration: none;
        position: relative;
        font-size: 35px;
    }
    .Logo{
        margin-top: 218px;
        margin-left: 160px;
    }
    .Footer__list{
        margin-top: -25px;
        margin-left: 180px;
        display: inline-block;
        display: flex;
        position: relative;
    }
    .Footer__list li {
        list-style: none;
        margin: 0px 0px 0px 20px;
    }
    .Footer__link{
        font-family: "Roboto";
        color: #121212;
        font-size: 14px;
        text-decoration: none;
        margin: 0px 0px 0px 80px;
    }
    .Footer_icons{
        margin-left: 1100px;
        margin-top: -20px;
    }
    .Footer_icons_inst{
        margin-left: 20px;
    }
    .Footer_icons_facebook{
        margin-left: 30px;
    }
    .Footer_icons_viber{
        margin-left: 30px;
    }
    .Footer_copyright{
        margin-bottom: 30px;
        margin-top: 30px;
        text-align: center;
        font-family: "Roboto";
        font-size: 16px;
        color: #949494;
    }
}